[mysqld]
binlog_format=ROW
default-storage-engine=innodb
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Cluster Configuration
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://dbgc1, dbgc2, dbgc3"

# Galera node configuration
wsrep_sst_auth="root:rootpass"
wsrep_node_address="dbgc1"

wsrep-new-cluster
